biofarma-poc-usecase9/src/main/mule/biofarma-poc-usecase9.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cacf2f63-fb7f-4ecc-9ba8-587da5569445" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="biofarma-poc-usecase9Flow" doc:id="5e016cd2-5355-486e-ab2c-2d711f72d63e" >
		<http:listener doc:name="Listener" doc:id="a8416707-f312-431a-a80a-73e920f91364" config-ref="HTTP_Listener_config" path="/api/test"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="416e46c9-4e4a-4e50-bd17-4b37bd9cf422" />
		<logger level="INFO" doc:name="Logger" doc:id="00dcd364-c65c-4315-83fd-a858a09c7935" message="#[payload]"/>
	</flow>
</mule>
